.chart-select {
  > .spacer {
    height: 50px;
  }
  .chart-btn-lg {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid lightblue;
    background: #FFF;
    margin: 15px;
    padding: 0;
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 15px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.chart-display {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightblue;
  background: #FFF;
  min-height: 500px;
}

.minicolors-input {
  height: 34px;
}
